{{define "page:title"}}Gopher{{end}}

{{define "page:content"}}
<section>
    <h2>Meet the gopher</h2>
    <p>This page is dedicated to the adorable gopher from the <a href="https://www.alexedwards.net/blog/how-i-use-htmx-with-go">demo</a> that inspired this site.</p>
    <div>
        {{template "partial:image:gopher" 220}}
    </div>
    <p><a href="/">Back to home</a></p>
</section>
{{end}}
