{{define "page:title"}}Home{{end}}

{{define "page:content"}}
<section>
    <h2>Hi, I’m Andrew Howell</h2>
    <p>I’m a software engineer who enjoys building playful web experiences with Go, htmx, and a little curiosity.</p>

    <div>
        {{template "partial:image:profile" 220}}
    </div>

</section>
{{end}}