{{define "partial:image:gopher"}}
<img alt="Gopher" src="/static/img/gopher.png" width="{{.}}">
{{end}}

{{define "partial:image:profile"}}
<img alt="Profile" src="/static/img/profile.jpg" width="{{.}}">
{{end}}